body{
    background-color: rgb(225, 225, 235);
}
a{
    background-color: blue;
color: azure;
padding: 5px;
padding-left: 10px;

}
h1{
    text-align: center;
}
p{
    text-align: justify;
}

button{
    background-color: aquamarine;
    color: black;
    padding: 6px 12px;
    font-size: 1.2rem;
    border: 0.2px solid aquamarine;
}
button:hover{
    color: aquamarine;
    background-color: black;
}

button{
    padding: 6px 12px;
    font-size: 1.2rem;
    border: 0.2px solid black;
    border-radius: 6px;
}
.bt-Salvar{
    color: rgb(8, 17, 17);
    background-color: bisque;
}
.bt-Excluir{
    color: rgb(6, 8, 8);
    background-color: rgb(207, 36, 14);
}
.bt-Editar{
    color: rgb(9, 12, 12);
    background-color: rgb(13, 170, 118);
}
#p1{
    text-align: right;
    font-style: italic;
    font-size: small;
}